.filter {
    font-family: Montserrat;
    width: 900px;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1032;
    visibility: hidden;
}

.filterOn {
    visibility: visible;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1031;
    cursor: pointer;
}

.overlayOn {
    display: block !important;
}